.footer {
  color: lightgray;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin: 5% -20% 0;
  hr {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 20px 0;
    border: none;
  }
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  .logo {
    height: 80px;
    object-fit: contain;
  }

  .social-icons img {
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
  }
  h2 {
    color: white;
  }
}
.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 10px;
}
